/*BACKGROUNDS*/

.bg-grey{
    background-color: grey;
}

/*BACKGOUNDS WITH IMAGE*/

.bg-nissa{
    background: #212529;
    background-image: url(../images/nissa1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.bg-radiant-serra{
    background: #212529;
    background-image: url(../images/radiant-serra-archangelcm1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.bg-judith{
    background: #212529;
    background-image: url(../images/Judith-Scourge-Diva_RNA_1920x1080_Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.bg-liliana{
    background: #212529;
    background-image: url(../images/Lilinana-Deaths-Majesty_AKH_1920x1080_Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.bg-kaya{
    background: #212529;
    background-image: url(../images/kaya_1920x1080_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}


/*-----------------*/
.box-shadow-meu{
    /* box-shadow: 0px 1px 5px 5px #020202; */
    box-shadow: 0px 1px 5px 5px rgba(2, 2, 2, 0.48);
}

.text-shadow-green{
    text-shadow: 4px 3px 0px rgba(25,135,84,1);
}

.mana{
    display: flex;
}

.reload{
    width:  64px;

}

.reload img{
    width: 100%;
    filter: invert(100%);
}

.tela{
    height: 500px;
}

.caixa{
    margin-top: 70px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: 80vh !important;
}

footer {
    height: 20vh !important;
}
/*MEDIA QUERIES*/

@media screen and (max-width: 912px){
    body{
        height: 100%;
    }

    .bg-nissa{
        background-color: #212529;
        background-image: url(../images/nissaTablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }

    .bg-radiant-serra{
        background: #212529;
        background-image: url(../images/radiant_serra_archangel_tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }

    .bg-judith{
        background: #212529;
        background-image: url(../images/Judith-Scourge-Diva_RNA_Tablet_Wallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }

    .bg-liliana{
        background: #212529;
        background-image: url(../images/Lilinana-Deaths-Majesty_AKH_Tablet_Wallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }

    .bg-kaya{
        background: #212529;
        background-image: url(../images/kaya_tablet_wallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }
    

}



@media screen and (max-width: 567px){
    .bg-nissa{
        background-color: #212529;
        background-image: url(../images/nissaMobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }

    .bg-radiant-serra{
        background: #212529;
        background-image: url(../images/radiant-serra-archangelMobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }

    .bg-judith{
        background: #212529;
        background-image: url(../images/Judith-Scourge-Diva_RNA_iPhone.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }

    .bg-liliana{
        background: #212529;
        background-image: url(../images/Lilinana-Deaths-Majesty_AKH_iPhone_Wallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }

    .bg-kaya{
        background: #212529;
        background-image: url(../images/kaya_iphone_wallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
    }
    
}

/* @media screen and (max-width: 414px){


    .botao-mana{
        display: block !important;
    }

    .caixa{
        height: 100% !important;
    }

} */